@model SIPI_web.Models.tbl_usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h4><b style="color:blue">Crear Usuario en el Portal:</b> @ViewData["userName"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="id_usuario" name="id_usuario" asp-for="id_usuario" value="@ViewData["id_usuario"]" />
            <div class="form-group">
                <label asp-for="usuario_fechaNacimiento" class="control-label">Fecha Nacimiento</label>
                <input type="date" asp-for="usuario_fechaNacimiento" class="form-control" />
                <span asp-validation-for="usuario_fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_ciudadNacimiento" class="control-label">Ciudad Nacimiento</label>
                <input asp-for="usuario_ciudadNacimientoNavigation.ciudad_nombre" id="nacimiento" asp-value class="form-control" readonly />
                <input type="hidden" asp-for="usuario_ciudadNacimiento" id="usuario_ciudadNacimiento" name="usuario_ciudadNacimiento" required />
                <button onclick="seleccionarCiudad('nacimiento', 'usuario_ciudadNacimiento');return false; ">Seleccione Ciudad Nacimiento</button>
                <span asp-validation-for="usuario_ciudadNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_ciudadUbicacion" class="control-label">Ciudad Ubicacion</label>
                <input asp-for="usuario_ciudadUbicacionNavigation.ciudad_nombre" id="ubicacion" asp-value class="form-control" readonly />
                <input type="hidden" asp-for="usuario_ciudadUbicacion" id="usuario_ciudadUbicacion" name="usuario_ciudadUbicacion" required />
                <button onclick="seleccionarCiudad('ubicacion', 'usuario_ciudadUbicacion');return false; ">Seleccione Ciudad Ubicacion</button>
                <span asp-validation-for="usuario_ciudadNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Usuario en el Portal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function seleccionarCiudad(ciudad, idCiudad) {
        window.open("/seleccionCiudad.html?ciudad=" + ciudad + "&idCiudad=" + idCiudad, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
    }
</script>