@model SIPI_web.Models.tbl_persona

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>tbl_persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_persona" />
            <div class="form-group">
                <label asp-for="persona_nombre" class="control-label"></label>
                <input asp-for="persona_nombre" id="persona_nombre" class="form-control" onblur="armaNombre()" />
                <span asp-validation-for="persona_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona_apellido" class="control-label"></label>
                <input asp-for="persona_apellido" id="persona_apellido" class="form-control" onblur="armaNombre()" />
                <span asp-validation-for="persona_apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona_identificacion" class="control-label"></label>
                <input asp-for="persona_identificacion" class="form-control" />
                <span asp-validation-for="persona_identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="peresona_nombreCompleto" class="control-label"></label>
                <input asp-for="peresona_nombreCompleto" id="persona_nombreCompleto" class="form-control" readonly />
                <span asp-validation-for="peresona_nombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona_tipoSangre" class="control-label"></label>
                <input asp-for="persona_tipoSangre" class="form-control" />
                <span asp-validation-for="persona_tipoSangre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function armaNombre() {
        var apellido = document.getElementById("persona_apellido").value;
        var nombre = document.getElementById("persona_nombre").value;

        document.getElementById("persona_apellido").value = apellido.toUpperCase();
        document.getElementById("persona_nombre").value = nombre.toUpperCase();

        var nombreCompleto = apellido.toUpperCase() + ', ' + nombre.toUpperCase();

        document.getElementById("persona_nombreCompleto").value = nombreCompleto.toUpperCase();
    }
</script>  