@{
    ViewData["Title"] = "HomeAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div>
        <partial name="administradorNav" />
    </div>
    <div>
        <h5>En Construccion Administrador</h5>
    </div>
</div>