@{
    ViewData["Title"] = "Tablas Previas";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}
<link href="~/css/site.css" rel="stylesheet" />
<div style="display: grid; grid-template-columns: 1fr 1fr; ">

    <div>
        <h5>Listado de Carreras</h5>
        <a asp-action="Index" asp-controller="carrera">Modificar Carreras</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaCarrera.cshtml" model="ViewBag.carrera" />
        </div>
    </div>

    <div>
        <h5>Listado de Equipos</h5>
        <a asp-action="Index" asp-controller="equipo">Modificar Equipos</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaEquipo.cshtml" model="ViewBag.equipo" />
        </div>
    </div>

    <div>
        <h5>Listado de Sede</h5>
        <a asp-action="Index" asp-controller="sede">Modificar Sedes</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaSede.cshtml" model="ViewBag.sede" />
        </div>
    </div>
    <div>
        <h5>Listado de Estatus Estudiantes</h5>
        <a asp-action="Index" asp-controller="estudianteEstatus">Modificar Estatus Estudiante</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaEstudianteEstatus.cshtml" model="ViewBag.estudianteEstatus" />
        </div>
    </div>
    <div>
        <h5>Listado de Estatus Metodologia</h5>
        <a asp-action="Index" asp-controller="metodologiaEstatus">Modificar Estatus Metodologia</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaMetodologiaEstatus.cshtml" model="ViewBag.metodologiaEstatus" />
        </div>
    </div>
    <div>
        <h5>Listado de Estatus Informe Academico</h5>
        <a asp-action="Index" asp-controller="informeAcademicoEstatus">Modificar Estatus Informe Academico</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaInformeAcademicoEstatus.cshtml" model="ViewBag.informeAcademicoEstatus" />
        </div>
    </div>

    <div>
        <h5>Listado de Estatus Pasantia</h5>
        <a asp-action="Index" asp-controller="pasantiaEstatus">Modificar Estatus Pasantia</a>
        <div class="tablasPrevias">
            <partial name="~/Views/tablasPrevias/listaPasantiaEstatus.cshtml" model="ViewBag.pasantiaEstatus" />
        </div>
    </div>


</div>
@*<a asp-action="Index" asp-controller="tablasPrevias">Regresar a Tablas Previas</a>*@
