@using Microsoft.AspNetCore.Http

<ul class="nav flex-column">
    <li class="nav-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mis Trabajos</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" id="Index" asp-action="createTeg" asp-controller="teg">Trabajo Especial de Grado</a></li>
            <li class="nav-item"><a class="nav-link" id="Index" asp-action="createTeg">Articulo Academico</a></li>
            <li class="nav-item"><a class="nav-link" id="Index" asp-action="createTeg">Asignacion Especial de Grado</a></li>
        </ul>
    </li>
</ul>

