@{
    ViewData["Title"] = "HomeEstudiante";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<div class="row">
    <div>
        <partial name="estudianteNav" />
    </div>
    <div>
        <h5 >En Construccion</h5>
    </div>
</div>