@model SIPI_web.Models.tbl_trabajo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h4>Trabajo Especial de Grado</h4>
<hr />
<div class="row">
    <div>
        <partial name="../teg/tegNav" />
    </div>
    <div>
        <h5>Datos Basicos</h5>
        <hr />
        <partial name="../integrante/listaIntegrante" model="Model" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
