@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h2>Email confirmado !</h2>
<p>
    Ya puedes ingresar al portal ! 
</p>

<p>
    Se te recomienda entrar inmediatamente y cargar tus datos !
</p>