@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<br/>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Ingreso al portal SIPI</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.userName"></label>
                    <input asp-for="Input.userName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ingreso al portal</button>
                </div>
                <div class="form-group">
                    @*<p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nuevo usuario</a>
                    </p>
                    @*<p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>*@
                </div>
            </form>
        </section>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Bienvenido al portal</h4>
            <hr />
            <div>
                <p>
                    El portal Sistema de Informacion de Proyectos Institucionales (SIPI), es el canal de comunicacion entre
                    proyectos institucionales y la universidad, aqui encontraras todo lo relacionado con Proyectos Institucionales.
                </p>
                Recuerda estamos en pleno desarrollo, falta mucho por hacer pero es un comienzo.
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
