@{
    ViewData["Title"] = "CIT Principal";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Centro de Innovación Tecnólogica</h1>
    <h2 class="display-4">CIT</h2>
</div>
