@model SIPI_web.Models.tbl_trabajo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h4>Trabajo Especial de Grado</h4>
<hr />
<div class="row">
    <div>
        <partial name="../teg/tegNav" />
    </div>
    <div>
        @{
            if (Model is not null)
            {
                <h5>Datos Basicos: @Model.trabajo_titulo</h5>
                <form asp-action="seleccionaConsultores">
                    <input type="hidden" name="idTrabajo" id="idTrabajo" value="@Model.id_trabajo" />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Consultor Academico
                                </th>
                                <th>
                                    Consultor Medotologico
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" id="consultoresAcademicos" name="consultoresAcademicos" asp-items="ViewBag.consultoresAcademicos"></select>
                                </td>
                                <td>
                                    <select class="form-control" id="consultoresMetodologicos" name="consultoresMetodologicos" asp-items="ViewBag.consultoresMetodologicos"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" name="actualizaConsultores" value="actualizaConsultores" />
                </form>
            }
            else
            {
                <label>Debe tener datos Basicos e Integrantes</label>
            }
        }


    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
