@{
    ViewData["Title"] = "listaTeg";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div>
        <partial name="../administrador/administradorNav" />
    </div>
    <div>
        <h5>Listado de Trabajos Especiales de Grado</h5>
        <partial name="../teg/index" />
    </div>
</div>