@model SIPI_web.Models.tbl_inscrito

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h5>Autorizar en el Portal</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="inscrito_email" placeholder="Email Principal del Usuario" class="form-control" />
                <span asp-validation-for="inscrito_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="inscrito_nombre" placeholder="Nombre de Persona o Empresa" class="form-control" />
                <span asp-validation-for="inscrito_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="inscrito_equipo" placeholder="Origen del Usuario" class="form-control" />
                <span asp-validation-for="inscrito_equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="inscrito_rol" id="inscrito_rol" name="inscrito_rol" asp-items="@ViewBag.roles"></select>
                <span asp-validation-for="inscrito_rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Realizar Inscripción" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
