@model SIPI_web.Models.tbl_inscrito

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h1>Create</h1>

<h4>tbl_inscrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inscrito_email" class="control-label"></label>
                <input asp-for="inscrito_email" class="form-control" />
                <span asp-validation-for="inscrito_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inscrito_nombre" class="control-label"></label>
                <input asp-for="inscrito_nombre" class="form-control" />
                <span asp-validation-for="inscrito_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inscrito_equipo" class="control-label"></label>
                <input asp-for="inscrito_equipo" class="form-control" />
                <span asp-validation-for="inscrito_equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inscrito_sipiActivo" class="control-label"></label>
                <input asp-for="inscrito_sipiActivo" class="form-control" />
                <span asp-validation-for="inscrito_sipiActivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inscrito_fechaCreacion" class="control-label"></label>
                <input asp-for="inscrito_fechaCreacion" class="form-control" />
                <span asp-validation-for="inscrito_fechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inscrito_fechaActualizacion" class="control-label"></label>
                <input asp-for="inscrito_fechaActualizacion" class="form-control" />
                <span asp-validation-for="inscrito_fechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
